page-home {
.bg{
  background-image: url('/assets/imgs/bgLogin.jpg');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.margin-top{
  margin-top: 100px;
}



}
